<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>more</title>
</head>
<body>
    <div class="container">
            <h3>QUÉ DEBES SABER</h3>
    </div>
        <div class="options">
            <div class="rules">
                <h1>REGLAS DE LA CASA</h1>
                <p>Llegada a partir de las 3:00pm.</p>
                <p>Salida antes de la 1:00pm.</p>
                <p>No se admiten mascotas.</p>
                <a class="know" href="#">SABER MÁS></a>
            </div>
            <div class="security">
                <h1>SEGURIDAD Y PROPIEDAD</h1>
                <P>No hay alarma de humo.</P>
                <p>Alberca/jacuzzi sin reja ni puerta con llave.</p>
                <p>No se requiere detector de monoxido de carbono.</p>
                <a class="know" href="#">SABER MÁS></a>
            </div>
            <div class="cancelation">
                <h1>POLÍTICA DE CANCELACIÓN</h1>
                <P>Si cancelas antes de la fecha de llegada, recibirás un reembolso parcial.</P>
                <p>Pasado ese plazo, tu reembolso dependerá de cuándo canceles.</p>
                <a class="know" href="#">SABER MÁS></a>
            </div>
        </div>
        <div class="contact">
            <h1>INSPIRACION PARA FUTURAS ESCAPADAS</h1>
            <p>SIGUE DESCUBRIENDO LA CATEGORIA DE LAS CABAÑAS</p>
    </div>
    <div class="content">
        <button>CONTÁCTANOS</button>
    </div>

    
</body>
</html>