<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estancias</title>
</head>
<body>
    <div class="estancias">
        <h1>ESTANCIAS</h1>
    </div>
    <div class="options">
        <div class="images">
            <img src="./1.png" alt="#">
            <h3>ADOSADO COLORIDO</h3>
            <P>DESCANSAR Y RETIRARSE EN UNA CASA CON LA MEJOR COMUNIDAD</P>
        </div>
        <div class="images">
            <img src="./2.png" alt="#">
            <H3>PLAZA BONANZA</H3>
            <P>MIRA EL OCÉANO, ESCUCHAR LAS OLAS Y DISFRUTAR DEL MAR</P>
        </div> 
        <div class="images">
            <img src="./3.png" alt="#">
            <H3>SANTUARIO ANTIGUO</H3>
            <P>eNCUENTRA LA CASA DE TUS SUEÑOS CERCA DEL COLEGIO Y DE TU OFICINA</P>

        </div>           
    </div>
    
</body>
</html>